html{
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

input[type="submit"] {
    visibility: collapse;
}
.chat-header{
    display: flex;
    height: 70px;
    background-color: #791e92;
    align-items: center;
}

.profile{
    flex: 1;
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-left: 20px;
}

.image{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    object-fit: cover;
    object-position: center;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2px;
}

.name{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

.online {
    color: rgba(226, 224, 226, 0.667);
    font-size: 12px;
}

.back-button,
.search-button,
.more-button{
  width: 50px;
  height: 50px;
  align-items: center;
  border-radius: 10px;
  padding: 0;
  margin: 5px;
  border: none;
  background-color: #791e92;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

.back-button:hover,
.more-button:hover,
.search-button:hover{
    background-color: #911497;
}

.back-button:active,
.more-button:active,
.search-button:active{
    background-color: #911497;
}
.chat-container{
    display: flex;
    height: 100%;
    min-height: 100%;
    flex-direction: column;
}
.chat-body{
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    background-color: #e1e8ed;
  }
  
  .message {
      display: flex;
      width: fit-content;
      padding: 10px;
      margin: 5px;
      border-radius: 10px;
      border: 1px solid #bcb7be;
      flex-direction: column;
      row-gap: 5px;
  }
  
  .left {
      background-color: #ffffff;
      align-self: flex-start;
      border-bottom-left-radius: 0;
      animation: left 0.5s;
  }
  
  .right {
      background-color: #f3e5f5;
      align-self: flex-end;
      border-bottom-right-radius: 0;
      animation: right 0.5s;

  }
  
  .text {
      font-size: 15px;
  }
  
  .data {
      display: flex;
      justify-content: flex-end;
      height: 15px;
      column-gap: 5px;
  }
  
  .time {
      font-size: 12px;
      color: #887f89;
  }
  
  .status .material-icons,
  .done-all{
      color: #6e2d84;
  }

  @keyframes right {
    from {
      transform: scale(0);
      transform-origin: bottom right;
    }
  
    to {
      transform: scale(1);
      transform-origin: bottom right;
    }
  }
  
  @keyframes left {
    from {
      transform: scale(0);
      transform-origin: bottom left;
    }
  
    to {
      transform: scale(1);
      transform-origin: bottom left;
    }
  }
.form {
    height: 60px;
    display: flex;
    border-top: 1px solid #c7c7c7;
    padding: 0 20px 0 20px;
} 

.form-input {
  flex: 1;
  align-items: center;
  border: none;
  outline: none;
  width: 100%;
  font-size: 12px;
}

.attachment-button {
    background-color: #ffffff;
    color: #777777;
    border: 0;
    padding: 15px;
    cursor: pointer;
    transition: opacity 0.2s;
}

.attachment-button:hover{
  color: #231717;
}
