.form {
    height: 60px;
    display: flex;
    border-top: 1px solid #c7c7c7;
    padding: 0 20px 0 20px;
} 

.form-input {
  flex: 1;
  align-items: center;
  border: none;
  outline: none;
  width: 100%;
  font-size: 12px;
}

.attachment-button {
    background-color: #ffffff;
    color: #777777;
    border: 0;
    padding: 15px;
    cursor: pointer;
    transition: opacity 0.2s;
}

.attachment-button:hover{
  color: #231717;
}