.create-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 65px;
    height: 65px;
    border-radius: 50px;
    border: none;
    background-color: #791e92;
    color: white;
    cursor: pointer;
    padding: 0;
    box-shadow: 0 0 0 rgba(81, 67, 18, 0.4);
    animation: pulse 2s infinite;
  }

.create-button:hover{
  opacity: 1;
  transform: scale(1.05);
}

.create-button:active{
  opacity: 1;
  transform: scale(1);
}

@keyframes pulse {
  from {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 1),
      0 0 0 0 rgb(121, 25, 134);
  }

  to {
    box-shadow: 0 0 0 0.65em rgba(255, 255, 255, 1),
      0 0 0 1em rgba(101, 119, 134, 0);
  }
}

