.create-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
    width: 65px;
    height: 65px;
    border-radius: 50px;
    border: none;
    background-color: #791e92;
    color: white;
    cursor: pointer;
    padding: 0;
    transform: scale(1);
    transition: all 0.2s;
  }