.chats {
    overflow: auto;
    background-color: white;
    height: 100vh;
    border: none;
    
}

.chat {
    flex: 1;
    display: flex;
    padding: 10px 25px 10px 20px;
    border-bottom: 1px solid #8b9ba2c2;
    margin: 0;
    column-gap: 25px;
    transition: background-color 0.3s;
    display: flex;
    align-items: stretch;
    cursor: pointer;
}

.chat:hover{
  background-color: #e1e8ed;
}

.image{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    object-fit: cover;
    object-position: center;
}

.info{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    flex: 1;
    padding-top: 1vh;
  }
  
  .name {
    color: black;
    font-size: 20px;
  }
  
  .data {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
  }
  
  .message {
    color: #465057;
  }

  .status .material-icons,
  .done-all{
    color: #6e2d84;
  }