.create-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 65px;
    height: 65px;
    border-radius: 50px;
    border: none;
    background-color: #791e92;
    color: white;
    cursor: pointer;
    padding: 0;
    box-shadow: 0 0 0 rgba(204,169,44, 0.4);
    animation: pulse 2s infinite;
  }

.create-button :hover{
    animation: none;
}

.create-button :active{
  animation: none;
}